{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<div class="card text-bg-dark">
    <img src="https://img.freepik.com/free-vector/personalized-workouts-concept-illustration_114360-7241.jpg?w=1060&t=st=1686717904~exp=1686718504~hmac=5a33857d42a5c7b8c735b0b0ec97cc7a77e53cd209714d3048e0b0dba3b5de61" class="card-img" alt="...">
    <div class="card-img-overlay">
      <div class="logo">
        <button type="button" class="btn btn-dark position-absolute top-50 start-50"><a  href="{% url 'pose_list' %}">
          Start Training Now
        </a></button>
      </div>
    </div>
</div>

{% endblock %}