{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<div class="card text-bg-dark">
  <img src="https://img.freepik.com/free-photo/lifestyle-portrait-elegant-young-woman-with-dark-wavy-hairstyle-trendy-makeup-fashionable-beige-pullover-coat-sitting-cafe-terrace-drinking-coffee-from-white-cup_197531-24448.jpg?size=626&ext=jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <div class="logo">
      <h3>Welcome to</h3>
      <h3 class="ml6">
        <span class="text-wrapper">
          <span class="letters">Le chère</span>
        </span>
    </div>
  </div>
</div>  

{% endblock %}