{% extends 'base.html' %}
{% load cloudinary %}
{% load static %}

{% block head %}
<title> User Profile </title>
{% endblock %}

{% block body %}
<h1>User Profile</h1>
<p>{{ request.user.username }} - {{ exercises_completed.count }} exercises completed</p>

<h2>Profile Photo</h2>

<img src="{{ user_profile.photo.url }}" alt="Profile Photo" style="width: 150px;">


<h2>Completed Exercises</h2>
  {% if exercises_completed %}
    <ul>
      {% for exercise in exercises_completed %}
        <li>{{ exercise.name }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No exercises completed yet.</p>
  {% endif %}

  <h2>Update Profile</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>

{% endblock %}